name: Build, Publish to AWS ECR & Deploy to Preview

on:
  push:
    branches:
      - master
  workflow_dispatch:

env:
  APP_NAME: menmu-discord-bot
  ECR_REPOSITORY: menma/menmu-discord-bot
  ECR_IMAGE_TAG: preview

jobs:
  build:
    runs-on: ubuntu-latest
    environment: Preview

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          java-version: '24'
          distribution: 'corretto'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build with Gradle
        run: ./gradlew build

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ASSUME_ROLE }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
        with:
          registry-type: public

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_REPOSITORY }}:${{ env.ECR_IMAGE_TAG }}
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max

  deploy:
    runs-on: ubuntu-latest
    environment: Preview
    needs: build

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Start ssh-agent
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.VPS_SSH_KEY }}

      - name: Add server to known_hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H ${{ secrets.VPS_HOSTNAME }} >> ~/.ssh/known_hosts
          chmod 644 ~/.ssh/known_hosts

      - name: Pull & deploy docker image
        env:
          IMAGE: public.ecr.aws/${{ env.ECR_REPOSITORY }}:${{ env.ECR_IMAGE_TAG }}
          VPS_HOSTNAME: ${{ secrets.VPS_HOSTNAME }}
          VPS_USER: ${{ secrets.VPS_USER }}
          DOCKER_COMPOSE_FILE_URL: https://raw.githubusercontent.com/${{ github.repository }}/${{ github.ref }}/docker-compose.yml
        run: |
          ssh ${VPS_USER}@${VPS_HOSTNAME} << 'EOF'
            set -euo pipefail
          
            APP_DIR=/home/${{ env.VPS_USER }}/${{ env.APP_NAME }}
            cd $APP_DIR || mkdir -p $APP_DIR && cd $APP_DIR
            curl -fsSL ${{ env.DOCKER_COMPOSE_FILE_URL }} -o docker-compose.yml
          
            export IMAGE=${{ env.IMAGE }}
            export APP_NAME=${{ env.APP_NAME }}
            export BOT_TOKEN=${{ secrets.BOT_TOKEN }}
            export YT_API_KEY=${{ secrets.YT_API_KEY }}
            export YT_OAUTH2_REFRESH_TOKEN=${{ secrets.YT_OAUTH2_REFRESH_TOKEN }}
            export WIREGUARD_PRIVATE_KEY=$(curl -s -u token:${{ secrets.NORDVPN_ACCESS_KEY }} https://api.nordvpn.com/v1/users/services/credentials | jq -r .nordlynx_private_key)
          
            docker compose pull
            docker compose up -d
          EOF